---
http_interactions:
- request:
    method: get
    uri: https://rdap.db.ripe.net/autnum/16276
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rdap+json
    body:
      encoding: UTF-8
      string: |-
        {
          "handle" : "AS16276",
          "startAutnum" : 16276,
          "endAutnum" : 16276,
          "name" : "OVH",
          "status" : [ "active" ],
          "entities" : [ {
            "handle" : "OK217-RIPE",
            "vcardArray" : [ "vcard", [ [ "version", { }, "text", "4.0" ], [ "fn", { }, "text", "Octave Klaba" ], [ "kind", { }, "text", "individual" ], [ "adr", {
              "label" : "OVH SAS\n2 rue Kellermann\n59100 Roubaix\nFrance"
            }, "text", [ "", "", "", "", "", "", "" ] ], [ "tel", {
              "type" : "voice"
            }, "text", "+33 9 74 53 13 23" ] ] ],
            "roles" : [ "administrative" ],
            "links" : [ {
              "value" : "https://rdap.db.ripe.net/autnum/16276",
              "rel" : "self",
              "href" : "https://rdap.db.ripe.net/entity/OK217-RIPE"
            }, {
              "value" : "http://www.ripe.net/data-tools/support/documentation/terms",
              "rel" : "copyright",
              "href" : "http://www.ripe.net/data-tools/support/documentation/terms"
            } ],
            "objectClassName" : "entity"
          }, {
            "handle" : "ORG-OS3-RIPE",
            "vcardArray" : [ "vcard", [ [ "version", { }, "text", "4.0" ], [ "fn", { }, "text", "OVH SAS" ], [ "kind", { }, "text", "org" ], [ "adr", {
              "label" : "2 rue Kellermann\n59100\nRoubaix\nFRANCE"
            }, "text", [ "", "", "", "", "", "", "" ] ], [ "tel", {
              "type" : "voice"
            }, "text", "+33972101007" ] ] ],
            "roles" : [ "registrant" ],
            "links" : [ {
       [...]
