---
http_interactions:
- request:
    method: get
    uri: https://rdap.org/autnum/16276
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Status:
      - '302'
      Location:
      - https://rdap.db.ripe.net/autnum/16276
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 17 Dec 2021 16:41:15 GMT
- request:
    method: get
    uri: https://rdap.db.ripe.net/autnum/16276
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rdap+json
    body:
      encoding: UTF-8
      string: |-
        {
          "handle" : "AS16276",
          "name" : "OVH",
          "type" : "DIRECT ALLOCATION",
          "entities" : [ {
            "handle" : "OK217-RIPE",
            "roles" : [ "administrative" ],
            "objectClassName" : "entity"
          }, {
            "handle" : "ORG-OS3-RIPE",
            "roles" : [ "registrant" ],
            "objectClassName" : "entity"
          }, {
            "handle" : "OTC2-RIPE",
            "roles" : [ "technical" ],
            "objectClassName" : "entity"
          }, {
            "handle" : "OVH-MNT",
            "roles" : [ "registrant" ],
            "objectClassName" : "entity"
          }, {
            "handle" : "RIPE-NCC-END-MNT",
            "roles" : [ "registrant" ],
            "objectClassName" : "entity"
          }, {
            "handle" : "AR15333-RIPE",
            "vcardArray" : [ "vcard", [ [ "version", { }, "text", "4.0" ], [ "fn", { }, "text", "Abuse-C Role" ], [ "kind", { }, "text", "group" ], [ "adr", {
              "label" : "OVH SAS\n2 Rue Kellermann\n59100 ROUBAIX\nFRANCE"
            }, "text", [ "", "", "", "", "", "", "" ] ], [ "email", {
              "type" : "email"
            }, "text", "lir@ovh.net" ], [ "email", {
              "type" : "abuse"
            }, "text", "abuse@ovh.net" ] ] ],
            "roles" : [ "abuse" ],
            "entities" : [ {
              "handle" : "OVH-MNT",
              "roles" : [ "registrant" ],
              "objectClassName" : "entity"
            } ],
            "objectClassName" : "entity"
          } ],
          "links" : [ {
            "value" : "https://rdap.db.ripe.net/autnum/16276",
            "rel" : "self",
            "href" : "https://rdap.db.ripe.net/autnum/16276"
          }, {
            "value" : "http://www.ripe.net/data-tools/support/documentation/terms",
            "rel" : "copyright",
            "href" : "http://www.ripe.net/data-tools/support/documentation/terms"
          } ],
          "events" : [ {
            "eventAction" : "last changed",
            "eventDate" : "2021-12-01T13:21:46Z"
          } ],
          "rdapConformance" : [ "rdap_level_0" ],
          "notices" : [ {
            "title" : "Filtered",
            "description" : [ "This output has been filtered." ]
          }, {
            "title" : "Source",
            "description" : [ "Objects returned came from source", "RIPE" ]
          }, {
            "title" : "Terms and Conditions",
            "description" : [ "This is the RIPE Database query service. The objects are in RDAP format." ],
            "links" : [ {
              "value" : "https://rdap.db.ripe.net/autnum/16276",
              "rel" : "terms-of-service",
              "href" : "http://www.ripe.net/db/support/db-terms-conditions.pdf",
              "type" : "application/pdf"
            } ]
          } ],
          "port43" : "whois.ripe.net",
          "objectClassName" : "autnum"
        }
  recorded_at: Fri, 17 Dec 2021 16:41:15 GMT
recorded_with: VCR 6.0.0
