---
http_interactions:
- request:
    method: get
    uri: https://rdap.org/ip/2620:119:35::35
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Status:
      - '302'
      Location:
      - https://rdap.arin.net/registry/ip/2620:119:35::35/128
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 17 Dec 2021 16:41:14 GMT
- request:
    method: get
    uri: https://rdap.arin.net/registry/ip/2620:119:35::35/128
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/rdap+json
    body:
      encoding: UTF-8
      string: |-
        {
          "rdapConformance" : [ "nro_rdap_profile_0", "rdap_level_0", "cidr0", "arin_originas0" ],
          "notices" : [ {
            "title" : "Terms of Service",
            "description" : [ "By using the ARIN RDAP/Whois service, you are agreeing to the RDAP/Whois Terms of Use" ],
            "links" : [ {
              "value" : "https://rdap.arin.net/registry/ip/2620:119:35::35/128",
              "rel" : "terms-of-service",
              "type" : "text/html",
              "href" : "https://www.arin.net/resources/registry/whois/tou/"
            } ]
          }, {
            "title" : "Whois Inaccuracy Reporting",
            "description" : [ "If you see inaccuracies in the results, please visit: " ],
            "links" : [ {
              "value" : "https://rdap.arin.net/registry/ip/2620:119:35::35/128",
              "rel" : "inaccuracy-report",
              "type" : "text/html",
              "href" : "https://www.arin.net/resources/registry/whois/inaccuracy_reporting/"
            } ]
          }, {
            "title" : "Copyright Notice",
            "description" : [ "Copyright 1997-2021, American Registry for Internet Numbers, Ltd." ]
          } ],
          "handle" : "NET6-2620-119-1",
          "startAddress" : "2620:119::",
          "endAddress" : "2620:119:ff:ffff:ffff:ffff:ffff:ffff",
          "ipVersion" : "v6",
          "name" : "OPENDNS-V6-NET-1",
          "type" : "DIRECT ALLOCATION",
          "parentHandle" : "NET6-2620-1",
          "remarks" : [ {
            "title" : "Registration Comments",
            "description" : [ "http://www.opendns.com/\r", "Comment:        Use OpenDNS to make your Internet faster, safer, and smarter.\r", "Comment:        IPv6 Peering: mailto:peering@opendns.com" ]
          } ],
          "events" : [ {
            "eventAction" : "last changed",
            "eventDate" : "2021-12-14T20:28:35-05:00"
          }, {
            "eventAction" : "registration",
            "eventDate" : "2014-04-11T18:56:49-04:00"
          } ],
          "links" : [ {
            "value" : "https://rdap.arin.net/registry/ip/2620:119:35::35/128",
            "rel" : "self",
            "type" : "application/rdap+json",
            "href" : "https://rdap.arin.net/registry/ip/2620:119::"
          }, {
            "value" : "https://rdap.arin.net/registry/ip/2620:119:35::35/128",
            "rel" : "alternate",
            "type" : "application/xml",
            "href" : "https://whois.arin.net/rest/net/NET6-2620-119-1"
          } ],
          "entities" : [ {
            "handle" : "OPEND-2",
            "vcardArray" : [ "vcard", [ [ "version", { }, "text", "4.0" ], [ "fn", { }, "text", "Cisco OpenDNS, LLC" ], [ "adr", {
              "label" : "145 Bluxome st.\nSan Francisco\nCA\n94107\nUnited States"
            }, "text", [ "", "", "", "", "", "", "" ] ], [ "kind", { }, "text", "org" ] ] ],
            "roles" : [ "registrant" ],
            "remarks" : [ {
              "title" : "Registration Comments",
              "description" : [ "http://www.opendns.com/\r", "Use OpenDNS to make your Internet faster, safer,\r", "and smarter.\r", "DNS Servers: 208.67.222.222 208.67.220.220\r", "IPv4/IPv6 Peering: peering@opendns.com" ]
            } ],
            "links" : [ {
              "value" : "https://rdap.arin.net/registry/ip/2620:119:35::35/128",
              "rel" : "self",
              "type" : "ap[...]
