---
http_interactions:
- request:
    method: get
    uri: https://rdap.arin.net/registry/ip/8.8.8.8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/rdap+json
    body:
      encoding: UTF-8
      string: |-
        {
          "arin_originas0_originautnums" : [ ],
          "cidr0_cidrs" : [ {
            "v4prefix" : "8.8.8.0",
            "length" : 24
          } ],
          "endAddress" : "8.8.8.255",
          "entities" : [ {
            "entities" : [ {
              "events" : [ {
                "eventAction" : "last changed",
                "eventDate" : "2024-08-01T17:54:23-04:00"
              }, {
                "eventAction" : "registration",
                "eventDate" : "2015-11-06T15:36:35-05:00"
              } ],
              "handle" : "ABUSE5250-ARIN",
              "links" : [ {
                "href" : "https://rdap.arin.net/registry/entity/ABUSE5250-ARIN",
                "rel" : "self",
                "type" : "application/rdap+json",
                "value" : "https://rdap.arin.net/registry/ip/8.8.8.8"
              }, {
                "href" : "https://whois.arin.net/rest/poc/ABUSE5250-ARIN",
                "rel" : "alternate",
                "type" : "application/xml",
                "value" : "https://rdap.arin.net/registry/ip/8.8.8.8"
              } ],
              "objectClassName" : "entity",
              "port43" : "whois.arin.net",
              "remarks" : [ {
                "description" : [ "Please note that the recommended way to file abuse complaints are located in the following links.", "", "To report abuse and illegal activity: https://www.google.com/contact/", "", "For legal requests: http://support.google.com/legal ", "", "Regards,", "The Google Team" ],
                "title" : "Registration Comments"
              }, {
                "description" : [ "ARIN has attempted to validate the data for this POC, but has received no response from the POC since 2025-08-01" ],
                "title" : "Unvalidated POC"
              } ],
              "roles" : [ "abuse" ],
              "vcardArray" : [ "vcard", [ [ "version", { }, "text", "4.0" ], [ "adr", {
                "label" : "1600 Amphitheatre Parkway\nMountain View\nCA\n94043\nUnited States"
              }, "text", [ "", "", "", "", "", "", "" ] ], [ "fn", { }, "text", "Abuse" ], [ "org", { }, "text", "Abuse" ], [ "kind", { }, "text", "group" ], [ "email", { }, "text", "network-abuse@google.com" ], [ "tel", {
                "type" : [ "work", "voice" ]
              }, "text", "+1-650-253-0000" ] ] ]
            }, {
              "events" : [ {
                "eventAction" : "last changed",
                "ev[...]
