---
http_interactions:
- request:
    method: get
    uri: https://rdap.arin.net/registry/ip/2620:119:35::35
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/rdap+json
    body:
      encoding: UTF-8
      string: |-
        {
          "arin_originas0_originautnums" : [ ],
          "cidr0_cidrs" : [ {
            "v6prefix" : "2620:119::",
            "length" : 40
          } ],
          "endAddress" : "2620:119:ff:ffff:ffff:ffff:ffff:ffff",
          "entities" : [ {
            "entities" : [ {
              "events" : [ {
                "eventAction" : "last changed",
                "eventDate" : "2025-07-18T18:51:22-04:00"
              }, {
                "eventAction" : "registration",
                "eventDate" : "2022-04-06T12:48:51-04:00"
              } ],
              "handle" : "CCSNA-ARIN",
              "links" : [ {
                "href" : "https://rdap.arin.net/registry/entity/CCSNA-ARIN",
                "rel" : "self",
                "type" : "application/rdap+json",
                "value" : "https://rdap.arin.net/registry/ip/2620:119:35::35"
              }, {
                "href" : "https://whois.arin.net/rest/poc/CCSNA-ARIN",
                "rel" : "alternate",
                "type" : "application/xml",
                "value" : "https://rdap.arin.net/registry/ip/2620:119:35::35"
              } ],
              "objectClassName" : "entity",
              "port43" : "whois.arin.net",
              "roles" : [ "administrative" ],
              "status" : [ "validated" ],
              "vcardArray" : [ "vcard", [ [ "version", { }, "text", "4.0" ], [ "adr", {
                "label" : "170 W Tasman Dr\nSan Jose\nCA\n95134\nUnited States"
              }, "text", [ "", "", "", "", "", "", "" ] ], [ "fn", { }, "text", "Cisco Cloud Security Network Admin" ], [ "org", { }, "text", "Cisco Cloud Security Network Admin" ], [ "kind", { }, "text", "group" ], [ "email", { }, "text", "rir-admin@cisco.com" ], [ "tel", {
                "type" : [ "work", "voice" ]
              }, "text", "+1-408-525-0560" ] ] ]
            }, {
              "events" : [ {
                "eventAction"[...]
