---
http_interactions:
- request:
    method: get
    uri: https://rdap.nic.fr/domain/jsiqpmcurt.fr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Content-Disposition:
      - inline;filename=f.txt
    body:
      encoding: UTF-8
      string: '{"errors":[{"errorCode":"NOT_FOUND_DOMAIN_NAME_WITH_NAME","message":"No
        domain corresponding to jsiqpmcurt.fr has been found"}],"errorsDate":"2026-06-27T13:33:45.357384Z"}'
  recorded_at: Sat, 27 Jun 2026 13:33:45 GMT
recorded_with: VCR 6.4.0
