---
http_interactions:
- request:
    method: get
    uri: https://rdap.org/domain/jsiqpmcurt.design
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Status:
      - '302'
      Location:
      - https://rdap.centralnic.com/design/domain/jsiqpmcurt.design
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 17 Dec 2021 16:41:13 GMT
- request:
    method: get
    uri: https://rdap.centralnic.com/design/domain/jsiqpmcurt.design
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Object not found
    headers:
      Content-Language:
      - en
      Status:
      - '404'
      Content-Type:
      - application/rdap+json
    body:
      encoding: ASCII-8BIT
      string: '{"notices":[{"title":"Status Codes","description":["For more information
        on domain status codes, please visit https:\/\/icann.org\/epp"],"links":[{"title":"More
        information on domain status codes","href":"https:\/\/icann.org\/epp"}]},{"title":"Terms
        of Use","description":["For more information on Whois status codes, please
        visit https:\/\/icann.org\/epp","",">>> IMPORTANT INFORMATION ABOUT THE DEPLOYMENT
        OF RDAP: please visit","https:\/\/www.centralnic.com\/support\/rdap <<<","","The
        Whois and RDAP services are provided by CentralNic, and contain","information
        pertaining to Internet domain names registered by our","our customers. By
        using this serv[...]
