---
http_interactions:
- request:
    method: get
    uri: https://rdap.org/domain/test.fr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/rdap+json
      Status:
      - '404'
    body:
      encoding: UTF-8
      string: '{"rdapConformance":["rdap_level_0"],"lang":"en","errorCode":404,"title":"domain
        test.fr not found in IANA boostrap file","notices":[{"title":"Terms of Use","description":["For
        more information about this service, please see https:\/\/about.rdap.org."],"links":[{"rel":"about","href":"https:\/\/about.rdap.org","title":"https:\/\/about.rdap.org","type":"text\/html"}]}]}'
  recorded_at: Fri, 17 Dec 2021 16:41:13 GMT
recorded_with: VCR 6.0.0
