---
http_interactions:
- request:
    method: get
    uri: https://rdap.nic.design/domain/jsiqpmcurt.design
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Disposition:
      - inline;filename=f.txt
      Content-Type:
      - application/rdap+json
    body:
      encoding: UTF-8
      string: '{"rdapConformance":["rdap_level_0","icann_rdap_response_profile_1","icann_rdap_technical_implementation_guide_1"],"notices":[{"title":"RDAP
        Help","description":["domain/XXXX","nameserver/XXXX","entity/XXXX","domains?name=XXXX","domains?nsLdhName=XXXX","domains?nsIp=XXXX","nameservers?name=XXXX","nameservers?ip=XXXX","entities?fn=XXXX","entities?handle=XXXX","help/XXXX"],"links":[{"rel":"alternate","value":"https://rdap.nic.design/domain/jsiqpmcurt.design","href":"https://www.registry.godaddy/rdap","type":"text/html"}]},{"title":"RDAP
        Terms of Service","description":["The RDAP service (the Service) offered by
        Registry Services LLC, or our designated representatives (GoDaddy Registry),
        is provided for informational purposes only and is designed to assist a user
        (you) to look up certain information related to the registration records of
        existing domain names.","The information provided by the Service is \u2018as
        is\u2019 and we make no guarantee of it[...]
