---
http_interactions:
- request:
    method: get
    uri: https://rdap-bootstrap.arin.net/bootstrap/domain/google.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: ''
    headers:
      Location:
      - https://rdap.verisign.com/com/v1/domain/google.com
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 27 Jun 2026 13:33:44 GMT
- request:
    method: get
    uri: https://rdap.verisign.com/com/v1/domain/google.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rdap+json
    body:
      encoding: UTF-8
      string: '{"objectClassName":"domain","handle":"2138514_DOMAIN_COM-VRSN","ldhName":"GOOGLE.COM","links":[{"value":"https:\/\/rdap.verisign.com\/com\/v1\/domain\/GOOGLE.COM","rel":"self","href":"https:\/\/rdap.verisign.com\/com\/v1\/domain\/GOOGLE.COM","type":"application\/rdap+json"},{"value":"https:\/\/rdap.markmonitor.com\/rdap\/domain\/GOOGLE.COM","rel":"related","href":"https:\/\/rdap.markmonitor.com\/rdap\/domain\/GOOGLE.COM","type":"application\/rdap+json"}],"status":["client
        delete prohibited","client transfer prohibited","client update prohibited","server
        delete prohibited","server transfer prohibited","server update prohibited"],"entities":[{"objectClassName":"entity","handle":"292","roles":["registrar"],"links":[{"href":"http:\/\/www.markmonitor.com","type":"text\/html","value":"https:\/\/rdap.markmonitor.com\/rdap\/","rel":"about"}],"publicIds":[{"type":"IANA
        Registrar ID","identifier":"292"}],"vcardArray":["vcard",[["version",{},"text","4.0"],["fn",{},"text","MarkMonitor
        Inc."]]],"entities":[{"objectClassName":"entity","roles":["abuse"],"vcardArray":["vcard",[["version",{},"text","4.0"],["fn",{},"text",""],["tel",{"type":"voice"},"uri","tel:+1.2086851750"],["email",{},"text","abusecomplaints@markmonitor.com"]]]}]}],"events":[{"eventAction":"registration","eventDate":"1997-09-15T04:00:00Z"},{"eventAction":"expiration","eventDate":"2028-09-14T04:00:00Z"},{"eventAction":"last
        changed","eventDate":"2019-09-09T15:39:04Z"},{"eventAction":"last update of
        RDAP database","eventDate":"2026-06-27T13:33:33Z"}],"secureDNS":{"delegationSigned":false},"nameservers":[{"objectClassName":"nameserver","ldhName":"NS1.GOOGLE.COM"},{"objectClassName":"nameserver","ldhName":"NS2.GOOGLE.COM"},{"objectClassName":"nameserver","ldhName":"NS3.GOOGLE.COM"},{"objectClassName":"nameserver","ldhName":"NS4.GOOGLE.COM"}],"rdapConformance":["rdap_level_0","icann_rdap_technical_implementation_guide_1","icann_rdap_response_profile_1"],"notices":[{"title":"Terms
        of Service","description":["Service subject to Terms of Use."],"links":[{"href":"https:\/\/www.verisign.com\/domain-names\/registration-data-access-protocol\/terms-service\/index.xhtml","type":"text\/html","value":"https:\/\/rdap.verisign.com\/com\/v1\/domain\/google.com","rel":"terms-of-service"}]},{"title":"Status
        Codes","description":["For more information on domain status codes, please
        visit https:\/\/icann.org\/epp"],"links":[{"href":"https:\/\/icann.org\/epp","type":"text\/html"}]},{"title":"RDDS
        Inaccuracy Complaint Form","description":["URL of the ICANN RDDS Inaccuracy
        Complaint Form: https:\/\/icann.org\/wicf"],"links":[{"href":"https:\/\/icann.org\/wicf","type":"text\/html","value":"https:\/\/rdap.verisign.com\/com\/v1\/domain\/google.com","rel":"help"}]}]}'
  recorded_at: Sat, 27 Jun 2026 13:33:44 GMT
recorded_with: VCR 6.4.0
